<h1>Listing replies</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Mention name</th>
      <th>Keywords</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= reply.room %></td>
        <td><%= reply.mention_name %></td>
        <td><%= reply.keywords %></td>
        <td><%= reply.tags %></td>
        <td><%= link_to 'Show', reply %></td>
        <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
        <td><%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reply', new_reply_path %>
